@model Proyecto_Escuela_canina.Models.papis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>papis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_pap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_pap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fch_ingreso_pap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fch_ingreso_pap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tel_pap }) |
    @Html.ActionLink("Back to List", "Index")
</p>
