@model IEnumerable<Proyecto_Escuela_canina.Models.profes>

@{
    ViewBag.Title = "Index";
}

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="letras" aria-current="page" href="">@Html.ActionLink("inicio", "index", "Home")</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="letras">@Html.ActionLink("Matriculas", "index", "matriculas")</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="letras">@Html.ActionLink("Papás", "index", "papis")</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="letras">@Html.ActionLink("Peluditos", "index", "peludos")</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="letras">@Html.ActionLink("Profes", "index", "profes")</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_profe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_profe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_profe)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom_profe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_profe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel_profe)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.cod_profe }) |
                @Html.ActionLink("Details", "Details", new { id = item.cod_profe }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.cod_profe })
            </td>
        </tr>
    }

</table>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    h1 {
        background-color: black;
        color: white;
        text-align: center;
        padding: 20px;
    }

    nav ul {
        background-color: forestgreen;
        width: 100%;
        list-style-type: none;
        text-align: center;
    }

    nav li {
        display: inline-flex;
    }

    nav a {
        text-decoration: none;
        color: white;
        padding: 16px;
        width: 100px;
    }

    nav li:hover {
        background-color: lightgreen;
    }

    .contenido {
        margin: 60px;
    }

    .div1 {
        width: 70%;
        border-right: 3px;
    }

    .div2 {
        width: 70%;
        border-right: 3px;
    }

    .letras {
        color: white;
    }
    .table {
        background-color: white;
    }

    body {
        background-color: #4B4B4B;
    }
</style>